#navbar {

    height: 1rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: sticky;
    background-color: white;
    text-decoration: none;
}

.navbar-title {
    font-weight: 900;
    font-family: cursive, sans-serif;
    color: #0856a3;
}

.navbar-buttons Button{
    margin-left: 3px;
    margin-right: 3px;

}

